@import "compass/css3/flexbox";

.flex-box{
  @include display-flex();
  @include flex-wrap(wrap);
  &-item{
    margin: {
      top: 0;
      bottom: 20px;
      left: 10px;
      right: 10px;
    };
    padding: 0 5px;
    @include flex(1 1 calc(25% - 20px));
  }
  &-item-3{
    margin: {
      top: 0;
      bottom: 20px;
      left: 10px;
      right: 10px;
    };
    padding: 0 5px;
    @include flex(1 1 calc(100%/3 - 20px));
  }
  &-auto{
    @include flex(1 1 auto);
  }
}