@import "compass/utilities/sprites/sprite-img";
@import "sprite";

[class*=alpha-icon-]{
  background: $icon-sprite no-repeat;
}
.alpha-icon-action{
  padding-left: 35px;
  //noinspection CssInvalidFunction
  background-position: sprite-position($icon-sprite, stocks-index-icon);
  .btn &{
    //noinspection CssInvalidFunction
    background-position: sprite-position($icon-sprite, stocks-index-icon, 0, 2px);
  }
}
.alpha-icon-print{
  padding-left: 25px;
  //noinspection CssInvalidFunction
  background-position: sprite-position($icon-sprite, print);
  .btn &{
    //noinspection CssInvalidFunction
    background-position: sprite-position($icon-sprite, print, 0, 8px);
  }
}