@import "compass/css3/transition";
@import "compass/css3/box-shadow";

//noinspection ALL
@mixin red-box($all-children: false){
  @if $all-children {
    &, div {
      @include box-shadow(#f00 0 0 1px inset);
    }
  }
  @else{
    >div {
      @include box-shadow(#f00 0 0 1px inset);
    }
  }
}

@mixin btn-alpha-color($background-color:#000, $color:#fff){
  background: $background-color none;
  color: $color;
  margin:{
    right: 6px;
    left: 6px;
  }
  padding: {
    right: 16px;
    left: 16px;
  };
  &::before, &::after{
    background-image: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    width: 0;
  }
  &::before{
    border-right: 6px solid $background-color;
    left: -6px;
  }
  &::after{
    border-left: 6px solid $background-color;
    right: -6px;
  }
  &:hover,&:focus,&:active{
    background-color: $background-color;
  }
}

@mixin hover-shadow($z-depth: 1){
  @include transition(all .2s ease-in-out);
  &:hover{
    text-decoration: none;
    border-color: #dddddd !important;
    @extend .z-depth-#{$z-depth};
  }
}

@mixin crop-bottom-shadow(){
  position: relative;
  &:after{
    content: "";
    width: 90%;
    height: 0;
    display: block;
    position: absolute;
    left: 5%;
    z-index: -1;
    @include box-shadow(rgba(0,0,0,.6) 0 0 8px 2px);
  }
}
