<div class="contact-info crop-bottom-shadow">
    {#<h3>ALPHA-HYDRO</h3>
    <img src="{{ asset('files/images/company-photo.png') }}" alt="ALPHA-HYDRO">#}
    <p class="address">Ленинградская обл., Всеволожский р-н, дер. Заневка, дом. 45</p>
    <p class="mt1"><strong>Координаты:</strong> 59.944774, 30.595592</p>
    <p class="mt1"><strong>Ориентиры:</strong> КАД 96 км. внешн., 45 км. внутр, съезд на Колтушское шоссе, Колтушское шоссе, въезд напротив заправки "Лукойл".</p>
    <p class="phone">+ 7(812) <span class="text-size-large">44-949-44</span></p>
    <p class="phone">+ 7(812) <span class="text-size-large">33-636-59</span></p>
    <div class="phone">+ 7(800) <span class="text-size-large">700-27-80</span></div>
    <p class="text-center"><small><em>Бесплатно по России</em></small></p>
    <p class="mail"></p>
</div>