<div class="row hidden-xs">
    <div class="col-md-12">
        <ul class="breadcrumb text-size-small">
            <li><a href="/">Главная</a></li>
            <li><a href="{{ path('wandfluh.lending') }}">Гидроаппаратура Wandfluh</a></li>
            {% for item in breadcrumb %}
                <li><a href="{{ path('wandfluh.category.list', {'full_path': item.fullPath}) }}">{{ item.name }}</a></li>
            {% endfor %}
            {% if product is not defined %}
                <li class="active"><span>{{ currentCategory.name }}</span></li>
            {% endif %}
        </ul>
    </div>
</div>