{% extends '@layout/default.html.twig' %}

{% block title %}Каталог{% endblock %}

{% block pageHeader %}
    {{ include('@layout/components/_pageHeader.twig') }}
{% endblock %}

{% block sidebar %}
    {{ include('@catalog/components/_sidebar.twig') }}
{% endblock %}

{% block content %}
    <div  class="col-xs-12 col-sm-12 col-md-9">
        {{ include('@catalog/components/_categories_list_item.twig') }}
    </div>
{% endblock %}