{% extends '@layout/default.html.twig' %}

{% block title %}Каталог{% endblock %}

{% block content %}
    <div class="row">
        <h1>Каталог продукции</h1>
        {% for category in categories %}

            <div class="col-md-4">
                <h2>
                    <a href="/catalog/{{ category.fullPath }}">
                        <i class="fa fa-refresh"></i> {{ category.name }}
                    </a>
                </h2>
            </div>
        {% endfor %}

        <div class="col-md-12">
            <p>Программа продукции «АЛЬФА-ГИДРО» охватывает огромное количество типов шлангов, изготовленных из различных материалов. Поэтому для каждого случая применения имеется свой подходящий продукт.</p>

            <p>Наряду с обычными (типовыми) РВД у нашей компании имеются шланги с улучшенными характеристиками, например <a href="/catalog/shlangi/gidravlika/shlangi-vysokogo-davlenija/spiralnye-shlangi/AHD700PRO">AHD 700 PRO</a>. Его особенность - давление, он рассчитан на рабочее давление до 420 бар. К нему имеются специальные "Interlock" фланцы и фитинги различных модификаций.</p>

            <p>Также у нас есть очень интересные виды РВД, имеющиеся не у каждого производителя: токонепроводящие шланги <a href="/catalog/shlangi/gidravlika/termoplastichnye-plastmassovye-shlangi/shlangi-vysokogo-davlenija/ATAF100">ATAF</a> и <a href="/catalog/shlangi/gidravlika/termoplastichnye-plastmassovye-shlangi/shlangi-vysokogo-davlenija/ATBF200">ATBF</a>. Данные виды РВД применяются в условиях больших токов. <a href="/catalog/shlangi/gidravlika/termoplastichnye-plastmassovye-shlangi/shlangi-vysokogo-davlenija/ATAF100/">ATAF</a> и <a href="/catalog/shlangi/gidravlika/termoplastichnye-plastmassovye-shlangi/shlangi-vysokogo-davlenija/ATBF200/">ATBF</a> удовлетворяют всем требованиям по безопасности работы. Их особенность заключается в стойкости ко многим технологическим средам. В рукаве имеется две прослойки в виде оплетки из полиэфира с вплетенным медным проводом для отвода электростатического заряда. Такой шланг имеет повышенную гибкость и малый вес, внутренним диаметр от 4 мм до 19 мм, рабочее давление до 380 бар.</p>

            <p><a href="/catalog/shlangi/promyshlennye-shlangi/shlangi-iz-ptfe">ATF</a> - тефлоновые рукава применяются при высоких температурах, а также с использованием агрессивных сред в химической промышленности. Такие шланги стойки к большим температурным режимам от -70<em>С до +260</em>С, их рабочее давление до 270 бар.</p>

            <p>Полиамидные рукава <a href="/catalog/shlangi/gidravlika/termoplastichnye-plastmassovye-shlangi/shlangi-vysokogo-davlenija/ANY100">ANY</a> имеют очень хорошую стойкость к химикатам, малое объемное расширение, высокую озоно- и износостойкость, большую гибкость и уменьшенный наружный диаметр.</p>

            <p>Мы даем гарантию на все свои изделия. Наши изделия постоянно совершенствуются и поэтому возможны некоторые технические изменения в сторону улучшения характеристик продукции.</p>
        </div>
    </div>
    </div>
    </div>

{% endblock %}