@import "../utils/variables";
@import "../bootstrap/bootstrap-variables";

$main-head-padding-xs: 3pt;
$main-head-padding-sm: 10pt;
$main-head-padding: 17pt;

$main-logo-height: 48px;
$main-logo-height-xs: 30px;

body{
  padding-top: $main-logo-height + ($main-head-padding-xs * 2);

  @media (min-width: $screen-xs-min) {
    padding-top: $main-logo-height + ($main-head-padding-sm * 2);
  }

  @media (min-width: $screen-sm-min) {
    padding-top: 0;
  }

}


.app-header {
  @media (max-width: $screen-xs-max) {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: $zindex-navbar-fixed;
  }

  .navbar{
    font-size: 85%;
  }
  .main-head{
    padding:{
      top: $main-head-padding-xs;
      bottom: $main-head-padding-xs;
    }
    background-color: lighten($alpha-gray-lighter, 3%);
    border: {
      bottom: {
        width: 1px;
        style: solid;
        color: $alpha-gray-light;
      };
    };

    @media (min-width: $screen-xs-min) {
      padding:{
        top: $main-head-padding-sm;
        bottom: $main-head-padding-sm;
      }
    }

    @media (min-width: $screen-sm-min) {
      padding:{
        top: $main-head-padding;
        bottom: $main-head-padding;
      }
      background-color: transparent;
      border: transparent;
    }

    .logo{
      display: block;
      //min-width: 244px;
      min-height: $main-logo-height;
      &.svg{
        background: image-url('logo/alpha-hydro-logo-ru.svg', false, false) no-repeat center;
        background-size: auto $main-logo-height-xs;

        @media (min-width: $screen-xs-min) {
          background-size: auto $main-logo-height;
        }

        @media (min-width: $screen-sm-min) {
          background-position: left;
          //background-size: auto 48px;
        }
      }
      &.png{
        background: image-url('logo/alfa-hydro.png', false, false) no-repeat center;
        @media (min-width: $screen-sm-min) {
          background-position: left;
        }
      }
    }

    .app-contacts{
      .address{
        margin-top: 4px;
      }
      .work-time{
        margin: {
          top: 11px;
          left: calc(100% - 118px);
        }
        padding-top: 15px;
        background: image-url('workdays-bar.jpg', false, false) no-repeat;
      }
      .phone{
        margin-top: -6px;
      }
      .mail{
        font-size: $alpha-font-size-smaller;
        line-height: $alpha-font-size-smaller;
      }
    }
  }

}
