@import "../vendors/corpus/whitespace";
@import "../utils/variables";

.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.app-content {
  flex: 1;
}
.app-footer {
  padding-bottom: 1em;
}
.zf-green,
h2 a {
  color: #68b604;
}

.ah-orange{
  color: $alpha-orange;
}

.ah-blue,
h2 a{
  color: $alpha-blue;
}

.text-size-small{
  font-size: $alpha-font-size-small;
}
.text-size-large{
  font-size: $alpha-font-size-large;
}

.w100  { width:  calc(100% -  #{$padding + $margin}); }
.w90   { width:  calc(90%  -  #{$padding + $margin}); }
.w95   { width:  calc(95%  -  #{$padding + $margin}); }
.w85   { width:  calc(85%  -  #{$padding + $margin}); }
.w80   { width:  calc(80%  -  #{$padding + $margin}); }

h1, h2, h3, h4, h5, h6{
  > small {
    display: block;
  }
  &.secondary-header{
    margin-bottom: 8px;
  }
}

a,
button,
[type='button'],
[type='submit']{
  outline: medium none !important;
}