@import "../vendors/corpus/whitespace";
@import "../utils/variables";

.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.app-content {
  flex: 1;
}
.app-footer {
  padding-bottom: 1em;
}
.zf-green,
h2 a {
  color: #68b604;
}

.text-size-small{
  font-size: $alpha-font-size-small;
}
.text-size-large{
  font-size: $alpha-font-size-large;
}

.w100  { width:  calc(100% -  #{$padding + $margin}); }
.w90   { width:  calc(90%  -  #{$padding + $margin}); }
.w95   { width:  calc(95%  -  #{$padding + $margin}); }
.w85   { width:  calc(85%  -  #{$padding + $margin}); }
.w80   { width:  calc(80%  -  #{$padding + $margin}); }