@import "../vendors/bootstrap-variables";

// Font size
// ==========================================================================

$alpha-font-size-default: $font-size-base; //12pt, ~16px;
$alpha-font-size-smaller: ceil($alpha-font-size-default * 0.75); //~9pt, ~12px;
$alpha-font-size-small: ceil($alpha-font-size-default * 0.8); //10pt, ~13px;
$alpha-font-size-larger: ceil($alpha-font-size-default * 1.1); //14pt, ~18px;
$alpha-font-size-large: floor($alpha-font-size-default * 1.45); //~17pt, ~23px;

// Color
// ==========================================================================

$alpha-gray-darker: #525252;
$alpha-gray-dark: #6A6A6A;
$alpha-gray: #ABABAB;
$alpha-gray-light: #CCCCCC;
$alpha-gray-lighter: #ECECEC;


$alpha-orange: #F48123;
$alpha-orange-dark: #aa6708; //info-block

$alpha-blue: #0895D8;
$alpha-blue-dark: darken($alpha-blue, 10%); //#1b809e; //info-block

// Footer
// ==========================================================================

$height-footer: 80px;
$padding-top-footer: 25px;

// Cards
// ==========================================================================

$card-padding: 24px !default;
$card-bg-color: #fff !default;
$card-link-color: $alpha-blue-dark !default;
$card-link-color-light: lighten($card-link-color, 10%) !default;
$card-link-color-dark: darken($card-link-color, 10%) !default;
