{% block stylesheets %}
    {#<style>
        body{
            padding-top: 57px;
        }
        @media (min-width: 768px) {
            body{
                padding-top: 0;
            }
        }
    </style>#}
{% endblock %}

<div class="main-head">
    <div class="container" role="banner">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <a href="{{ path('home') }}" class="logo svg"></a>
            </div>
            <div class="col-md-8 col-sm-6 hidden-xs">
                <div class="app-contacts">
                    <div class="row">
                        <div class="col-lg-5 col-md-6 hidden-sm text-right">
                            <div class="address">193312, г. Санкт-Петербург ул.Кржижановского, д.12/1</div>
                        </div>
                        <div class="col-lg-3 hidden-md hidden-sm">
                            <div class="work-time">9:00 - 18:00</div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 text-right">
                            <div class="phone">+ 7 (812) <span class="text-size-large">44-949-44</span></div>
                            <div class="mail"><a href="mailto:info@alpha-hydro.com"><i class="fa fa-envelope"></i>  info@alpha-hydro.com</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>