{% block stylesheets %}
    <style>
        h1 {
            font-size: 36px;
        }
        .page-header {
            margin: 0;
        }
    </style>
{% endblock %}

<div class="col-md-9 col-md-offset-3">
    <div class="page-header">
        <h1>{{ pageHeader | default('Каталог продукции') }}</h1>
    </div>
</div>