<div class="sidebar-dropdown hidden-sm col-md-3 sidebar">
    <ul class="list-group crop-bottom-shadow">
        {% for i in 0..12 %}
            <li class="list-group-item sidebar-item">
                <a href="{{ path('home') }}">Рукава высокого давления</a>
            </li>
        {% endfor %}
    </ul>
</div>