@import "compass/css3/box-shadow";
@import "compass/css3/transition";
@import "../bootstrap/bootstrap-variables";

.categories-list {
  .card-image {
    margin: {
      top: 5px;
      bottom: 10px;
    };
    min-height: 91px;
    > img {
      max-height: 125px;
    }
  }

  .card.hover {
    .card-title {
      //color: #525252;
      text-transform: none;
      padding: $padding-large-horizontal $padding-large-vertical;
    }
  }

  &-item {
    background-color: #FFFFFF;
    @media (min-width: $screen-sm-min) {
      max-width: calc(25% - 20px);
    }
    @include transition(all .2s ease-in-out);
    &:hover{
      text-decoration: none;
      cursor: pointer;
      @extend .z-depth-2;
    }
    &-img{
      margin: {
        top: 10px;
        bottom: 10px;
      };
      max-width: calc(100% - 10px);
      @media (min-width: $screen-sm-min) {
        max-height: 130px;
        max-width: 160px;
      }
    }
  }
}