@import "../base/variables";
@import "../vendors/bootstrap-variables";
@import "compass/css3/transition";

.media-item{
  .media-object{
    max-height: 100px;
  }
  .media-heading{
    font-weight: 500;
    //font-size: $alpha-font-size-default;
    text-transform: uppercase;
    >a{
      color: $gray-base;
      text-decoration: none;
      @include transition(color .25s);
      &:hover{
        color: $alpha-gray-darker;
      }
    }
  }
  &.line{
    padding-bottom: 15px;
  }
}
