@import "../base/variables";
@import "compass/css3/transition";

.product-list{
  .product-item{
    margin-bottom: 30px;
    border-bottom: 1px dashed $alpha-gray-lighter;
    &:last-child{
      border-bottom: none;
    }
    .product-images{
      @include transition(all .2s ease-in-out);
      &:hover{
        text-decoration: none;
        @extend .z-depth-1;
      }
    }
    .h4 > a{
      color: #000000;
      //text-decoration: none;
    }
  }
  .product-description{
    font-size: $alpha-font-size-small;
  }
}
.product-images{
  margin:{
    top: 10px;
  };
  .modal-draft-images{
    margin: {
      top: 30px;
      bottom: 30px;
      left: auto;
      right: auto;
    };
    > img{
      max-width: 100%;
    }
  }
}
.product-property{
  margin-top: 10px;
  font-size: $alpha-font-size-small;
  th{
    font-size: $alpha-font-size-smaller;
  }
}
