<div class="row mt2">
    <div class="categories-list flex-box">
        {% for product in productList %}
            <div class="flex-box-item card hover">
                <a href="{{ path('catalog_category_list', {'full_path' : product.fullPath}) }}">
                    <div class="card-image">
                        <img src="{{ product.uploadPath ~ product.image }}" alt="{{ product.name }}"/>
                    </div>
                    <div class="card-title bottom text-center">
                        {{ product.sku }}
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
