@import "compass/css3/flexbox";
@import "../bootstrap/bootstrap-variables";

.flex-box{
  @include display-flex();
  @include flex-wrap(wrap);
  &-item{
    margin: {
      top: 0;
      bottom: 20px;
      left: $padding-small-horizontal;
      right: $padding-small-horizontal;
    };
    padding: 0 5px;
    @include flex(1 1 auto);
    .col-4 &{
      @include flex(1 1 calc(25% - #{$padding-small-horizontal * 2}));
      max-width: calc(25% - #{$padding-small-horizontal * 2});
    }
    .col-3 &{
      @include flex(1 1 calc(100%/3 - #{$padding-small-horizontal * 2}));
      max-width: calc(100%/3 - #{$padding-small-horizontal * 2});
    }
  }
  &-item-3{
    margin: {
      top: 0;
      bottom: 20px;
      left: $padding-small-horizontal;
      right: $padding-small-horizontal;
    };
    padding: 0 5px;
    @include flex(1 1 calc(100%/3 - #{$padding-small-horizontal * 2}));
  }
  &-auto{
    @include flex(1 1 auto);
  }
}
