@import "../base/variables";

/* Common styles for all types */
.ah-info-block {
  padding: 10px 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;

  h4 {
    margin-top: 0;
    margin-bottom: 5px;
  }

  p:last-child {
    margin-bottom: 0;
  }

  code {
    border-radius: 3px;
  }

  & + & {
    margin-top: -5px;
  }

  &-danger {
    border-left-color: #ce4844;
    h4 {
      color: #ce4844;
    }
  }

  &-warning {
    border-left-color: $alpha-orange-dark;
    h4 {
      color: $alpha-orange-dark;
    }
  }

  &-info {
    border-left-color: $alpha-blue-dark;
    h4 {
      color: $alpha-blue-dark;
    }
  }
}