@import "../utils/variables";

.modifications{
  text-align: center;
  max-width: calc(100%);//850px;
  font-size: 12px;
  thead{
    td{
      background-color: $alpha-gray-dark;
      color: #fff;
      word-wrap: break-word;
      white-space: pre-line;
      padding:{
        left: 2px !important;
        right: 2px !important;
      };
    }
  }
  tbody{
    td:first-child{
      font-weight: bolder;
      white-space: pre;
    }
  }

}