@import "../utils/sprite";
@import "../utils/variables";
@import "../bootstrap/bootstrap-variables";

$navbar-ah-color: $alpha-gray-lighter;

$navbar-ah-bg: $alpha-gray-lighter;
$navbar-ah-border: $alpha-gray-light;

$navbar-ah-link-color: lighten($alpha-gray-light, 15%);
$navbar-ah-link-hover-color: #fff;
$navbar-ah-link-hover-bg: transparent;
$navbar-ah-link-active-color: $navbar-ah-link-hover-color;
$navbar-ah-link-active-bg: darken($navbar-ah-bg, 10%);
$navbar-ah-link-disabled-color: #444;
$navbar-ah-link-disabled-bg: transparent;

$navbar-ah-brand-color: $navbar-ah-link-color;
$navbar-ah-brand-hover-color: #fff;
$navbar-ah-brand-hover-bg: transparent;

$navbar-ah-toggle-border-color: #333;
$navbar-ah-toggle-hover-bg: #333;
$navbar-ah-toggle-icon-bar-bg: #fff;

.navbar-ah {
  //background-color: $navbar-ah-bg;
  //border-color: $navbar-ah-border;

  //noinspection CssInvalidFunction
  //background: sprite($main-menu, menu-bg);

  @media (min-width: $screen-sm-min) {
    background-color: $navbar-ah-bg;
    border-color: $navbar-ah-border;

    //noinspection CssInvalidFunction
    background: sprite($main-menu, menu-bg);
  }

  .navbar-brand {
    color: $navbar-ah-brand-color;
    &:hover,
    &:focus {
      color: $navbar-ah-brand-hover-color;
      background-color: $navbar-ah-brand-hover-bg;
    }
  }

  .navbar-text {
    color: $navbar-ah-color;
    @media (min-width: $screen-sm-min) {
      color: $navbar-ah-color;
    }
  }

  .navbar-nav {
    @media (min-width: $screen-sm-min) {
      > li > a {
        color: $navbar-ah-link-color;
        line-height: ceil($line-height-computed - 2pt);
        background: image-url('menu-item-inactive.png', false, false) transparent no-repeat center bottom;

        &:hover,
        &:focus {
          color: $navbar-ah-link-hover-color;
          //background-color: $navbar-ah-link-hover-bg;
          background: image-url('menu-item-active.png', false, false) transparent no-repeat center bottom / contain;
        }
      }
      > .active > a {
        &,
        &:hover,
        &:focus {
          color: $navbar-ah-link-active-color;
          background-color: $navbar-ah-link-active-bg;
        }
      }
      > .disabled > a {
        &,
        &:hover,
        &:focus {
          color: $navbar-ah-link-disabled-color;
          background-color: $navbar-ah-link-disabled-bg;
        }
      }
    }

  }

  // Darken the responsive nav toggle
  .navbar-toggle {
    border-color: $navbar-ah-toggle-border-color;
    &:hover,
    &:focus {
      background-color: $navbar-ah-toggle-hover-bg;
    }
    .icon-bar {
      background-color: $navbar-ah-toggle-icon-bar-bg;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: darken($navbar-ah-bg, 7%);
  }

  // Dropdowns
  .navbar-nav {
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: $navbar-ah-link-active-bg;
        color: $navbar-ah-link-active-color;
      }
    }

    @media (max-width: $grid-float-breakpoint-max) {
      // Dropdowns get custom display
      .open .dropdown-menu {
        > .dropdown-header {
          border-color: $navbar-ah-border;
        }
        .divider {
          background-color: $navbar-ah-border;
        }
        > li > a {
          color: $navbar-ah-link-color;
          &:hover,
          &:focus {
            color: $navbar-ah-link-hover-color;
            background-color: $navbar-ah-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-ah-link-active-color;
            background-color: $navbar-ah-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-ah-link-disabled-color;
            background-color: $navbar-ah-link-disabled-bg;
          }
        }
      }
    }
  }

  .navbar-link {
    color: $navbar-ah-link-color;
    &:hover {
      color: $navbar-ah-link-hover-color;
    }
  }

  .btn-link {
    color: $navbar-ah-link-color;
    &:hover,
    &:focus {
      color: $navbar-ah-link-hover-color;
    }
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus {
        color: $navbar-ah-link-disabled-color;
      }
    }
  }
}