{% extends '@layout/default.html.twig' %}
{% set pageHeader = page.title | default('Контакты') %}

{% block title %}
    {{ pageHeader }}
{% endblock %}

{% block pageHeader %}
    {{ include('@layout/components/_pageHeader.twig') }}
{% endblock %}

{% block sidebar %}
    <div class="col-md-3">
        <div class="sidebar">
            {{ include('@app/components/_contact_sidebar.twig') }}
        </div>
    </div>
{% endblock %}
{% block content %}

{% endblock %}

{% block javascriptTop %}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
{% endblock %}

