{% extends '@layout/default.html.twig' %}
{% set pageHeader = page.title | default('Контакты') %}

{% block title %}
    {{ pageHeader }}
{% endblock %}

{% block pageHeader %}
    {{ include('@layout/components/_pageHeader.twig') }}
{% endblock %}

{% block sidebar %}
    <div class="col-md-3">
        <div class="sidebar">
            {{ include('@app/components/_contact_sidebar.twig') }}
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-5 text-muted"><strong>Координаты:</strong> 59.944774, 30.595592</div>
            <div class="col-md-7 text-muted"><strong>Ориентиры:</strong> КАД 96 км. внешн., 45 км. внутр, съезд на Колтуши, Колтушское шоссе, въезд напротив заправки "Лукойл".</div>
        </div>
        <div class="row">
            <div class="col-md-12 mt1">
                <div id="map">
                    <div id="yandexMap" class="yandexMap"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascriptHead %}
    <script type="text/javascript" charset="utf-8" async
            src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ab87a0fcca7702167f43a35bf25382579aecfc316e760b4893254a7d5e2259d56&amp;lang=ru_RU&amp;scroll=false&amp;id=yandexMap"></script>
{% endblock %}

