<div class="sidebar-dropdown hidden-sm col-md-3 sidebar">
    <ul class="list-group crop-bottom-shadow">
        {% for category in categories %}
            <li class="list-group-item sidebar-item">
                <a href="{{ path('catalog_category_lending') }}/{{ category.fullPath }}">{{ category.name }}</a>
            </li>
        {% endfor %}
    </ul>
</div>