{% extends '@layout/components/_sidebar.twig' %}

{% block sidebarList %}
    <ul class="list-group crop-bottom-shadow">
        <li class="list-group-item sidebar-heading"><span class="span">Новости</span></li>
        {% for item in sidebarListItem %}
            {% if currentCategory is defined and item.id == currentCategory.id %}
                <li class="list-group-item sidebar-item sidebar-item-current">
                    <span>{{ item.name }}</span>
                </li>
            {% else %}
                <li class="list-group-item sidebar-item">
                    <a href="">{{ item.name }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}