<div class="row">
    <div class="categories-list flex-box">
        {% for category in categories %}
            <div class="flex-box-item card hover">
                <a href="{{ path('catalog_category_list', {'full_path' : category.fullPath}) }}">
                    <div class="card-image">
                        <img src="{{ category.uploadPath ~ category.image }}" alt="{{ category.name }}"/>
                    </div>
                    <div class="card-title bottom text-center">
                        {{ category.name }}
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

